div.sidebar
    div.s-block
        div.s-block__header
            h3 С полей разработки
        div.s-block__body
            p.s-block__p.s-block__p--last
                span.date-text 06 февраля 2017
            p.s-block__p.s-block__p--last.
                Теперь работает ссылка <a href="/about.html">О ПРОЕКТЕ</a> =)
        div.s-block__body
            p.s-block__p.s-block__p--last
                span.date-text 07 февраля 2017
            p.s-block__p.s-block__p--last.
                Добавлена иконга "Домой" на панель навигации. 
                Заголовок с названием сайта стал кликабельным.
        div.s-block__body
            p.s-block__p.s-block__p--last
                span.date-text 20 февраля 2017
            p.s-block__p.s-block__p--last Добавлена иконка сайта
        div.s-block__body
            p.s-block__p.s-block__p--last
                span.date-text 24 февраля 2017
            p.s-block__p.s-block__p--last.
                Теперь можно читать блоги =Ъ
    div.s-block
        div.s-block__body.s-block__body--alone
            div.l-block(style="background-image: url(/img/eleague.jpg)")
                h3.l-block__header ELEAGUE Major 2017
                a.l-block__link(href="http://www.eleague.com/major/") <span>ELEAGUE Major 2017</span>
            div.l-block(style="background-image: url(/img/cybersportru.jpg)")
                h3.l-block__header Путь в киберспорт. Моя статья
                a.l-block__link(href="https://www.cybersport.ru/participate/blogosphere/fan-blog/199902/").
                    <span>Путь в киберспорт. Моя статья</span>
            div.l-block(style="background-image: url(/img/csgo_image.png)")
                h3.l-block__header Блог cs go
                a.l-block__link(href="http://blog.counter-strike.net") <span>Блог cs go</span>
    div.s-block.s-block--last
        div.s-block__header
            h3 Очень важное сообщение
        div.s-block__body
            p.s-block__p.s-block__p--last А тут место для Вашей рекламы! =Ъ                
