extends layouts/main.pug

block content
    div.page-layout.container
        div.row
            div.col.page-col-main
                include content/blog/main.pug
            div.col.page-col-aside
                include content/blog/aside.pug
        div.row
            .col
                include content/blog/pager.pug
        div.row
            div.col
                include blocks/footer.pug