extends layouts/main.pug

block content
    div.page-layout.container
        div.row
            div.col.page-col-main
                include content/index/main.pug
            div.col.page-col-aside
                include content/index/aside.pug
        div.row
            div.col
                include blocks/footer.pug