.block
    .block__body
        h2.block__h2 Дорога в 1000 ли начинается с первого шага.
        p.block__p
            img.fluid-img(src="/img/csport_image.jpg" alt="киберспорт арена")
        p.block__p.
            Проект #Road2eSports взял своё начало 1 января 2017 года, суть которого и заключена в его названии - путь в киберспорт.
            Основная цель - попасть в мир киберспорта (оговорка - не в качестве профессионального игрока), в состав киберспортивной организации в сферу дисциплины CS:GO.
            Тут будут публиковаться анонсы стримов, новости по ходу проекта, статьи, аналитика и прочее, прочее. 
        p.block__p.
            Вопросы и пожелания пишите мне <a href="https://vk.com/dobryak_v_yarosti">сюда</a>.
        p.block__p.block__p--last.
            <b>P.S.</b> Я так же нуждаюсь в помощи. Если вы хотите помочь моему проекту, то <a href="https://vk.com/dobryak_v_yarosti">напишите мне об этом</a>.