.sidebar
    .s-block
        .s-block__header
            h3 Будем на связи
        .s-block__body
            p.s-block__p.mb0
                a(class="s-block__link" href="https://vk.com/road2esports") Вконтакте
            p.s-block__p.mb0
                a(class="s-block__link" href="https://www.twitch.tv/linkolnlk") Twitch
            p.s-block__p.s-block__p--last
                a(class="s-block__link" href="https://www.youtube.com/channel/UCvYMnJMW0jpikbXUhzY5VLw") Youtube                           