div.block
    div.block__header(style={"background-image": "url(/img/csgoteams.jpg)"})
    div.block__body
        div
            span.block__date 18 января 2017
        h2.block__h2 Pick'Em
        p.block__p.block__p--last.
            Пост посвящён Pick'Em челенджу на предстоящий "Мажор", который начнется уже 22 числа в Атланте. Пост будет довольно длинный, максимально попытаюсь объяснить свой выбор, 
            проанализировать решение. Сразу отмечаю, что я не профессиональный аналитик, моё мнение не претендует быть одним единственным верным и не призываю вас повторять за мной. Начнём.
    div.block__footer
        a(class="block__footer-link" href="blog/18012017") читать полностью
div.block
    div.block__header(style={"background-image": "url(/img/csgoarena.jpg)"})
    div.block__body
        div
            span.block__date 13 января 2017
        h2.block__h2 Начало пути
        p.block__p.block__p--last.
            Небольшая статья о том, что это вообще такое, что за киберспорт, что за дорога, 
            что за ноунэйм и что вообще тут происходит. Поехали.
    div.block__footer
        a(class="block__footer-link" href="blog/13012017") читать полностью